.time-line-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f6ff;
  color: #fff;
  overflow: hidden;
  font-family:PingFang SC;
}

.time-line-wrap{
  position: absolute;
  height: 100%;
  width: calc(100% - 107px);
  overflow: hidden;
}

.time-line{
  position: absolute;
  height: 100%;
  margin-right: 200px;
  
}

/* 时间线和数字 */
.time-line .time-line-item{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  float: left;
  position: relative;
  top: calc(100% - 7px);
}
.time-line .time-line-item .time-line-item-main{
  width: 1px;
  height: 7px;
  background-color: #979797;
}
.time-line .time-line-item .time-line-item-sub{
  width: 1px;
  height: 3px;
  background-color: #979797;
}

.time-line .time-line-item .time-line-item-time{
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight:500;
  color:#001529;
  font-size:10px;
  transform: translate(-50%, -10px);
  user-select: none;
}


/* 高亮区域 */
.time-line-height-light-area{
  position: absolute;
  height: 100%;
  background-color: #f40;
  opacity: 0.2;
  z-index: 1;
}


/* 中间的白线 */
.time-line-time-pick{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 1px;
  background-color: #eb3c46;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.time-line-time-pick::after{
  display: block;
  content: '';
  position: absolute;

  top: 0;
  left: -2.6px;
  border:3px solid #eb3c46;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.time-line-time-pick::before{
  display: block;
  content: '';
  position: absolute;

  bottom:  0;
  left: -2.6px;
  border:3px solid #eb3c46;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}



/* 缩放工具 */
.time-line-zoom-tool{
  position: absolute;
  top: 6px;
  right: 15px;

  
}

.time-line-zoom-tool div{
  float: left;
}

.time-line-zoom-tool .time-line-zoom{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #1890ff;
  color: #1890ff;
  cursor: pointer;
  user-select: none;
}

.time-line-zoom-tool .time-line-zoom.disable{
  border: 1px solid #cbd4dc;
  color: #cbd4dc;
  
}

.time-line-zoom-tool .time-line-zoom-value{
  user-select: none;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #001529;
  font-size: 10px;
  margin: 0 4px;
}